.table-responsive {
  height: inherit;
  overflow-x: auto;
}
.table-view {
  background: #fff;
  white-space: nowrap;
  border-spacing: 0;
}
.table-view th,
.table-view td {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 0.5rem 1rem;
}
.table-view .sticky {
  position: sticky;
  z-index: 1;
  background: inherit;
}
.table-header {
  height: 2rem;
  border: 2px solid #cccccc;
}
.table-header > tr {
  background: #e6e6e6;
  position: sticky;
  top: 0;
  z-index: 2;
}
.table-body {
  color: gray;
}
.table-row {
  background: #fff;
}
.table-row > td:first-child {
  color: black;
  font-weight: bold;
}
.table-row:nth-child(even) {
  background: #e6e6e6;
}
.table-row:hover {
  background: #c9d9f2;
}
